{% extends 'base.html.twig' %}

{% block title %}Connexion - NovaWear{% endblock %}

{% block body %}
    <h1>Connexion</h1>
    <form action="{{ path('connexion') }}" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Mot de passe">
        <button type="submit">Se connecter</button>
    </form>
{% endblock %}
