{% extends 'base.html.twig' %}

{% block title %}Accueil - NovaWear{% endblock %}

{% block body %}
    <div class="home-container">
        <h1 class="title"></h1>

        <div class="categories">
            <div class="category">
                <img src="{{ asset('images/femme.png') }}" alt="Collection Femme">
                <a href="{{ path('woman') }}" class="category-btn">FEMMES</a>
            </div>
            <div class="category">
                <img src="{{ asset('images/homme.png') }}" alt="Collection Homme">
                <a href="{{ path('man') }}" class="category-btn">HOMMES</a>
            </div>
        </div>
    </div>
{% endblock %}
