{% extends 'base.html.twig' %}

{% block title %}Accueil - NovaWear{% endblock %}

{% block body %}
    <h1>Bienvenue sur NovaWear</h1>
    <a href="{{ path('inscription') }}">S'inscrire</a>
    <a href="{{ path('connexion') }}">Se connecter</a>
{% endblock %}
