{% extends 'base.html.twig' %}

{% block title %}Secure Payment - NovaWear{% endblock %}

{% block body %}

<div class="payment-container">
    <h2 class="payment-title"> Paiement sécurisé </h2>

    <form action="{{ path('stripe_checkout') }}" method="POST">
        <button type="submit" class="payment-btn">
            Pay with Stripe
        </button>
    </form>
</div>
{% endblock %}