{% extends 'base.html.twig' %}

{% block title %}Récapitulatif - NovaWear{% endblock %}

{% block body %}
    <h1>Récapitulatif de votre commande</h1>
    <ul>
        <li>Produit 1 - 30€</li>
        <li>Produit 2 - 45€</li>
        <li>Produit 3 - 20€</li>
    </ul>
    <p>Total : 95€</p>
    <p>Merci pour votre achat !</p>
{% endblock %}
